/* ===================================
========= register page  */
.form-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  flex-direction: column;
  background-color: #b6eab7;
  background-image: url("../../public/images/garden.jpg");
  background-size: 100% 100%
  
}

.form-container form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background-color: rgb(255, 255, 255,0.8);
}

.form-container form .title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.form-container form input {
  border: 2px solid rgb(116, 110, 110);
  background-color: rgba(30,144,255,.001);
  border-radius: 5px;
}

/* .form-container form button {
  border: 1px solid black;
  border-radius: 0;
  background-color: #3e9000;
  color: white;
  width: 250px;
} */

/* .forgot-btn {
  background-color: #434343a4 !important;
  border: 0 !important;
}

.forgot-btn:hover {
  color: white !important;
} */



/* CSS */
.button-87 {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display : block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 250px;
  height: 40px;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}


.button-88 {
  margin: 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #d37672;
  background-image: linear-gradient(45deg, #cc2200 0%, #f03d19  51%, #ff4b2f  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 30px;
  width: 230px
}

.button-88:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-88:active {
  transform: scale(0.95);
}

.btn-89 {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display : block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #19f03d;
  background-image: linear-gradient(45deg, #2f90ff 0%, #19f03d  51%, #2f90ff  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 250px;
  height: 40px;
}

.btn-89:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-89:active {
  transform: scale(0.95);
}